{% extends 'Vecinapp/base.html' %}
{% load static %}
{% block content %}

    {% if user.is_authenticated %}

    <div class="contenedorFormulario vh-100" style="padding-top: 150px;">

        {% if "valido" in request.GET %}

            <p>Información enviada correctamente. Gracias!</p>

        {% endif %}

        {% if messages %}
            <div class="alert alert-danger" style="width: 50%; margin: 0 auto;">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            <table style="margin: 20px auto; text-align: start;">
                {{formulario_contacto.as_table}}
            </table>
            <input type="submit" value="Enviar" class="btn btn-primary" style="width: 125px;">
        </form>
       
    </div>

    {% else %}

    <div class="contenedorFormulario vh-100" style="padding-top: 200px;">
        <p>Para poder enviarnos un mensaje, primero debes iniciar sesión.</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
    </div>
    
    {% endif %}

{% endblock %}