*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: green;
}

.Logo img{
    width: 100px;
    height: 100px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.navbar{
    background-color: white;
}

.nav-item{
    justify-content: space-around;
    padding: 0;
}

.active {
    font-weight: bold;
    color: yellowgreen !important;
}
